html {
  border: 0;
  height: 100%;
}

body {
  font-family: futura;
  display: flex;
  margin: 0;
  border: 0;
  height: 100%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background: linear-gradient(0deg, rgba(2,0,36,1) 12%, rgba(79,214,139,1) 44%, rgba(32,186,217,1) 88%);
}

.center-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  border: 0;
  background: linear-gradient(0deg, rgba(0,1,36,1) 12%, rgba(214,146,79,1) 44%, rgba(32,186,217,1) 88%);;
}

.game-board-buffer {
  height: 50%;
  border: 0;
  background-color: black;
  width: 60%
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-start: auto;
  grid-column-start: auto;
  height: 100%;
  border: 0;
  grid-gap: 8px;
}

.square {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

.player-turn-container {
  display: flex;
  justify-content: center;
}

.reset-button {
  background-color: #25deda;
  border-radius: 15px;
  border-width: 0;
  border-width: 4px;
  color: rgb(98, 133, 142);
  cursor: pointer;
  font-family: futura;
  font-size: 100%;
  font-weight: 600;
  height: 5%;
  width: 20%;

  transition: transform 0.3s, color 0.3s;
}

.reset-button:hover {
  transform: translateY(-10px);
  color:rgb(13, 34, 36);
}